* {
    font-family: "Comic Sans MS", "Comic Sans";
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url(../images/background.jpg);
}

h1 {
    margin-bottom: 10px;
}

p {
    font-size: 25px;
}

.titles {
    margin-top: 10px;
    text-align: center;
}

.center-content {
    width: 60vw;

    margin-left: auto;
    margin-right: auto;
}

#left-buttons {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;

    display: grid;
    grid-template-columns: auto;
}

#main-content {
    background: red;
    border: 10px double white;
}

#death-box {
    display: flex;
    flex-direction: column;

    background: black;
    color: white;
    border: 10px dotted greenyellow;

    height: 100vh;

    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#cross {
    margin-top: auto;
}